<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<table>
  <thead>
    <tr>
      <th>Clientname</th>
      <th>Addressline1</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Internalid</th>
      <th>Billingrate</th>
      <th>Invoicetype</th>
      <th>Primaryphone</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.clientname %></td>
        <td><%= client.addressline1 %></td>
        <td><%= client.city %></td>
        <td><%= client.state %></td>
        <td><%= client.zip %></td>
        <td><%= client.internalid %></td>
        <td><%= client.billingrate %></td>
        <td><%= client.invoicetype %></td>
        <td><%= client.primaryphone %></td>
        <td><%= client.status %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>

<br>
<h2>Import Clients</h2>

<%= form_tag import_clients_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>