<p id="notice"><%= notice %></p>

<p>
  <strong>Clientname:</strong>
  <%= @client.clientname %>
</p>

<p>
  <strong>Addressline1:</strong>
  <%= @client.addressline1 %>
</p>

<p>
  <strong>Addressline2:</strong>
  <%= @client.addressline2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @client.zip %>
</p>

<p>
  <strong>Internalid:</strong>
  <%= @client.internalid %>
</p>

<p>
  <strong>Billingrate:</strong>
  <%= @client.billingrate %>
</p>

<p>
  <strong>Monthlyretainer:</strong>
  <%= @client.monthlyretainer %>
</p>

<p>
  <strong>Hourspermonth:</strong>
  <%= @client.hourspermonth %>
</p>

<p>
  <strong>Invoicetype:</strong>
  <%= @client.invoicetype %>
</p>

<p>
  <strong>Primaryphone:</strong>
  <%= @client.primaryphone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @client.status %>
</p>

<p>
  <strong>Contactname:</strong>
  <%= @client.contactname %>
</p>

<p>
  <strong>Contactemail:</strong>
  <%= @client.contactemail %>
</p>

<p>
  <strong>Contactphone:</strong>
  <%= @client.contactphone %>
</p>

<p>
  <strong>Clienttype:</strong>
  <%= @client.clienttype %>
</p>

<p>
  <strong>Clientsince:</strong>
  <%= @client.clientsince %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
